@include bem-block(section-panel) {
  margin-bottom: 20px;
  border-radius: 5px;
  background: #FFF;
  padding: 20px;

  @include bem-element(header) {
    margin-bottom: 20px;
  }

  @include bem-element(title) {
    margin: 0;
  }

  @include bem-element(subtitle) {
    margin: 0 0 5px 0;
    color: $theme-color-complimentary;
  }

}